node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
stdout
ml_injury_model/HAM10000/
ml_injury_model/data/
ml_injury_model/dataset/
ml_injury_model/kaggle_raw/
ml_injury_model/__pycache__/
# Allow ML model weights in the server folder
!ml_server/model/*.pth
